.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp/
.pnp.js

.env
.env.*
!.env.example

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp

node_modules/
.bun/

coverage/
dist/
build/
.tmp/
.temp/

.nuxt/
.output/
.nitro/
.cache/
.histoire/

drizzle/*.sqlite
drizzle/*.sqlite-journal
drizzle/meta/*.json

docker-data/
*.pid

*.tgz
*.tar.gz
*.zip
